extends ./layout/resume-layout.jade
include ./mixins/util.jade

block education
  +section("education", true)
    each item in education
      li.timeline-item(class="education-" + item.type)
        h3.timeline-title
          time.education-time #{item.start} ~ #{item.end}
        dl.education-description.timeline-content
          dt.education-name= item.name
          dd.education-major= item.major + education_type[item.type]
          each honor in item.honor
            dd.education-honor!= highlight(honor)
          dd.education-proud= item.proud

block experience
  +section("experience", true)
    each item in experience
      li.timeline-item(class="experience-" + item.type)
        h3.timeline-title
          +#{"experience_title_" + item.type}(item)
        dl.experience-description.timeline-content
          +#{"experience_content_" + item.type}(item)

block skills
  +section("skills", true)
    each item in skills
      li.timeline-item(class="skills-" + item.type)
        h3.timeline-title
          span.skills-type= skill_type[item.type]
        +#{"skills_" + item.type}(item)

block learn
  +section("learn", true)
    each item in learn
      li.timeline-item(class="skills-" + item.type)
        h3.timeline-title
          span.skills-type= learn_type[item.type]
        +#{"learn_" + item.type}(item)

block links
    ul.links
      each link in links
        li.link
          a(href=link.url,target='_blank') #{link_type[link.type]}

block repo
  p
    | thank for 秋怡女神～This resume is generated with Gulp, Less and Jade by 
    | #[a(href="https://github.com/joyeecheung/resume") Joyee Cheung&#39;s resume generator].
